fastapi==0.115.6
uvicorn==0.34.0
streamlit==1.36.0

langchain==0.3.14
langchain-community==0.3.14
langchain-openai==0.3.0
langchain-text-splitters==0.3.4
langchain-chroma==0.2.2
langchain-huggingface==0.1.2
langchain-ollama==0.2.1
rank-bm25==0.2.2

chromadb==0.5.23
sentence-transformers==3.3.1

pypdf==5.1.0
pdfplumber==0.11.9
pdfplumber==0.11.9

pydantic==2.10.4
pydantic-settings==2.7.1

python-dotenv==1.0.1
httpx==0.28.1
